body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow-y: visible;
}

canvas {
  width: 100%;
  height: 100%;
}

#info {
	position: relative;
	text-align: center;
	z-index: 100;
	display:block;
  color: white;
  margin: 0 auto;
  background-color: black;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  opacity: transparent;
}


h1{
text-align: center;
font-family: 'Inconsolata', monospace;
font-size: 20px;
padding-bottom: 20px;
padding-top: 10px;
margin-top: 0;
margin-bottom: 0;
}

pre{
  margin: 0 auto;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  font-style: normal;
}

@media only screen and (max-width: 479px){
  body{
    overflow-y: visible;
  }

  #info{
    font-weight: 100;
  }
 h1{
   margin: 0;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 5px;
   padding-right: 5px;
 }
  pre{
    margin-top: 0;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 19px;
    font-size: 16px;
  }

}
